:root {
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  --color-background-primary: #000000;
  --color-background-secondary: #ffffff;
  --color-background-finished-task: #90ee90;

  --color-shadow-3: #c4c4c4;
  --color-shadow-4: #999999;
}
