a.btn {
  cursor: pointer;
  background-color: var(--color-background-secondary);
  padding: 0.25rem;
  border: 1px solid;
  border-radius: var(--border-radius-2);
  display: flex;
  justify-content: center;
  align-items: center;
}
